In [45]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn import cross_validation
from sklearn.cross_validation import cross_val_score

In [46]:
df = pd.read_csv("data/Pay_Scale_data.csv", low_memory=False)

In [47]:
df.head()

,rank,name,Anual%_ROI_without_FA,Anual%_ROI_with_FA,20yrnet_ROI_without_FA,20yrnet_ROI_with_FA,Total_4yr_cost,grad_rate,years_to_grad,loan_amnt,%_GrantMoney_Received
0,-,"University of Phoenix - Phoenix, AZ(Private)",NaN,NaN,NaN,NaN,NaN,16,6,33520,91
1,-,Cleary University(Private),NaN,NaN,NaN,NaN,NaN,44,4,24360,70
2,-,"ITT Technical Institute - San Diego, CA(Private)",NaN,NaN,NaN,NaN,NaN,27,6,34120,70
3,-,Wilmington University(Private),NaN,NaN,NaN,NaN,NaN,39,4,12680,73
4,-,Thomas Edison State College(In-State),NaN,NaN,NaN,NaN,NaN,0,NaN,0,0

In [48]:
df = df.dropna()

In [49]:
df.head()

,rank,name,Anual%_ROI_without_FA,Anual%_ROI_with_FA,20yrnet_ROI_without_FA,20yrnet_ROI_with_FA,Total_4yr_cost,grad_rate,years_to_grad,loan_amnt,%_GrantMoney_Received
5,1,Harvey Mudd College(Private),8.7,12.6,985300,1104500,237700,91,4,21920,71
6,2,California Institute of Technology (Caltech)(P...,8.6,13.4,901400,1029700,221600,93,4,22160,54
7,3,Stevens Institute of Technology(Private),8.1,11.5,841000,948300,232000,79,5,44000,97
8,4,Colorado School of Mines(In-State),11.4,13.5,831000,866200,112000,70,5,30480,72
9,5,Babson College(Private),8.0,12.8,812800,946500,230200,91,4,31880,45

In [50]:
df.describe()

,Total_4yr_cost,grad_rate,years_to_grad,loan_amnt,%_GrantMoney_Received
count,1217.000000,1217.000000,1217.000000,1217.000000,1217.000000
mean,130077.156943,56.564503,4.517666,27865.242399,77.032046
std,47645.786880,17.124524,0.516082,5603.649815,17.735255
min,46500.000000,11.000000,4.000000,9680.000000,25.000000
25%,89500.000000,43.000000,4.000000,23960.000000,63.000000
50%,121700.000000,55.000000,5.000000,27360.000000,78.000000
75%,163000.000000,69.000000,5.000000,31080.000000,94.000000
max,245000.000000,98.000000,6.000000,51600.000000,100.000000

#### Modelling

In [51]:
train_X = df[['Total_4yr_cost', 'grad_rate', 'years_to_grad', 'loan_amnt', '%_GrantMoney_Received']]

In [52]:
train_Y = df['Anual%_ROI_without_FA']

In [53]:
model = RandomForestRegressor(random_state=0, n_estimators=100, max_depth=50)

In [43]:
abs(np.mean(cross_val_score(model, train_X, train_Y, cv=5, scoring='mean_squared_error')))**0.5

ValueError: could not convert string to float: '<-15.0'